* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(to right, #2e3192, #1bffff);
}
→ nav {
  height: 10%;
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1vh;
  overflow: hidden;
  color: white !important;
  display: flex;
  justify-content: flex-start;
  gap: 2.5vh;
}

li a {
  text-decoration: none !important;
  color: white !important;
  font-size: 1.2rem;
  line-height: 60px;
  transition: all 0.1s ease-in-out;
}

li a:hover {
border: 1PX solid WHITE;
border-radius: 4PX;
  margin-top: 2px;
}

/* Custom styles for columns */

#sumit {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 600;
  color: white;
}

.div {
  height: 120px;
  width: 490px;
  background-color: aqua;
  font-weight: 700;
  margin: 40px;
  margin-top: 60px;
  margin-left: 50px;
  text-align: center;
  font-size: 35px;
  font-family: roboto;
  border-radius: 8px;
  padding-top: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.lol {
  display: flex;
  justify-content: center;
}

.container-2 {
  display: flex;
  justify-content: center;
}

#div-1 {
  background-color: #6ce5e8;
  cursor: pointer;
  transition: all 0.3s ease;
}

#div-1:hover {
  opacity: 0.8;
  background-color: #181823;
  color: white;
  position: relative;
  bottom: 15px;
}
#div-2:hover {
  opacity: 0.8;
  background-color: #181823;
  color: white;
}

#div-3:hover {
  opacity: 0.8;
  background-color: #181823;
  color: white;
}

#div-4:hover {
  opacity: 0.8;
  background-color: #181823;
  color: white;
}

#div-5:hover {
  opacity: 0.8;
  background-color: #181823;
  color: white;
}

#div-6:hover {
  opacity: 0.8;
  background-color: #181823;
}

/* HOVER EFFECTS ENDS HERE */
#div-2 {
  background-color: #6ce5e8;
}

#div-3 {
  background-color: #bfd4ee;
  cursor: pointer;
}

#div-4 {
  background-color: #38ef7d;
  cursor: pointer;
}

#div-5 {
  background-color: #ff5757;
  cursor: pointer;
}

#div-6 {
  background-color: #ffde59;
  cursor: pointer;
}

#one {
  position: absolute;
  top: 50%;
  right: 84%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#two {
  position: absolute;
  top: 50%;
  right: 55%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#three {
  position: absolute;
  top: 50%;
  right: 17%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#four {
  position: absolute;
  top: 83%;
  right: 88%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#five {
  position: absolute;
  top: 83%;
  right: 56%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#six {
  position: absolute;
  top: 83%;
  right: 17%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

hr {
  border: 6px solid black !important;
  border-radius: 5px;
}

/* clock */

.clock {
  border: 3px solid #379777 !important;
  display: inline-block !important;
  position: absolute;
  left: 82%;
  top: 0.5%;
  width: 13rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px #1bffff46;
  background-color: black;
  color: white;
}

#time {
  font-size: 3rem;
}
.clock:hover{

  display: none;
}
